<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <form [formGroup]="weatherForm" (ngSubmit)="save()">
      <div> <label for="username">Enter Mood:</label>
        <input type="text" class="form-control" [formControl]="mood">
        <div [hidden]="mood.valid	||	mood.untouched">
          <div [hidden]="!mood.hasError('minlength')"> mood can not be shorter than 2 characters. </div>
          <div [hidden]="!mood.hasError('required')"> mood is required. </div>
        </div>
      </div>
      <div> <label for="activities">Enter Activities:</label> 
        <textarea class="form-control" rows="5" type="text" name="activities" [formControl]="activities"></textarea>
        <div [hidden]="activities.valid	||	activities.untouched">
          <div [hidden]="!activities.hasError('required')"> The activities field is required. </div>
        </div>
      </div>
      <button style="margin-top: 20px" type="submit" [disabled]="!weatherForm.valid">Save Data</button>
    </form>

  </div>
</div>
<div *ngIf="savedData" class="row" style="margin: 2%">
  <div *ngFor="let data of savedData |  paginate: { itemsPerPage: 5, currentPage: page }; let i = index;" class="col-md-6">
    <mat-card style="margin-bottom:20px">
      <div class="row">
        <div class="col-md-5 col-sm-2">
          <p style="font-size:14px; font-style:italic; color: blue">Main Weather: {{data.w_main}}</p>
          <p>Temperature: {{data.w_temp}}</p>
          <p>Description: {{data.w_description}}</p>
        </div>
        <div class="col-md-6 col-sm-2">
          <p style="font-size:14px; font-style:italic; color: blue">Date: {{data.w_date }}</p>
          <p>Mood: {{data.mood}}</p>
          <p>Activities: {{data.activity}}</p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<div style="position: center">
  <pagination-controls (pageChange)="page = $event" style="cursor: pointer; align-content: center"></pagination-controls>
</div>